.app {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.intro {
  display: table;
  height: 500px;
  background-color: #313131;
  color: white;
}

.intro-text-container {
  display: table-cell;
  width: 800px;
  vertical-align: middle;
}
